@font-face {
  font-family: 'Massedi';
  src: url("https://res.cloudinary.com/dvaav1gff/raw/upload/v1645398613/Massedi_uev0pu.woff2") format("woff2");
}

@font-face {
  font-family: 'Azonix';
  src: url("https://res.cloudinary.com/dvaav1gff/raw/upload/v1645398613/Azonix_tcmfol.woff2") format("woff2");
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Azonix";
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

section {
  position: relative;
  width: 100%;
  padding: 4rem 2rem;
}

@media screen and (min-width: 1024px) {
  section {
    padding: 10rem 0;
  }
}

.section__title {
  font-size: 2.5rem;
  font-family: "Massedi";
  margin-bottom: 2rem;
}

.section__title::after {
  content: '';
  display: block;
  height: 2px;
  width: 3rem;
  background: #040407;
  margin-top: 1rem;
}

@media screen and (min-width: 1024px) {
  .section__title {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1440px) {
  .section__title {
    font-size: 4rem;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .container {
    width: 70%;
  }
}

.bold-txt {
  font-weight: 900;
}

.light-txt {
  font-weight: 300;
}

.ml-1 {
  margin-left: 1rem;
}

.fl-r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fl-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  display: inline-block;
  padding: 1.5rem 4rem 1.5rem 2.2rem;
  font-family: "Azonix";
  font-size: 1.3rem;
  position: relative;
  color: #040407;
  border: solid 2px #040407;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: yellow;
}

.btn::after {
  content: '';
  display: block;
  position: absolute;
  left: 90%;
  height: 2px;
  width: 5rem;
  background: #040407;
}

.card {
  position: relative;
  height: 20rem;
  width: 100%;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #040407;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.card-alt {
  background: yellow;
  border: solid 1px #040407;
}

.card-alt .card__percent {
  color: #333;
}

.card-alt .card__title {
  color: #040407;
  border-color: #040407;
}

.card:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.card__percent {
  font-size: 2.5rem;
  color: #ccc;
}

.card__title {
  border-left: solid 10px #fff;
  padding-left: 1.5rem;
  font-family: "Massedi";
  text-transform: uppercase;
  color: #fff;
}

/* ********* LONG CARD ************* */
.long__card {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.long__card-alt .long__card__content {
  background: yellow;
}

@media screen and (min-width: 768px) {
  .long__card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 20rem;
  }
}

.long__card__number {
  height: 100%;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
  background: #040407;
  color: #fff;
  padding: 2rem;
}

@media screen and (min-width: 768px) {
  .long__card__number {
    padding: 0;
    font-size: 5rem;
  }
}

.long__card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .long__card__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 4rem;
  }
}

.long__card__title {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 1.5rem 0;
  color: #000;
}

.long__card__title::after {
  content: '';
  display: block;
  margin-left: 2rem;
  width: 5rem;
  height: 1px;
  background: #040407;
}

@media screen and (min-width: 768px) {
  .long__card__title {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    font-size: 2.5rem;
  }
}

.long__card__text {
  width: 100%;
  font-size: 1.25rem;
  line-height: 150%;
  color: #333;
}

@media screen and (min-width: 768px) {
  .long__card__text {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 4rem;
    width: 70%;
  }
}

header {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

nav {
  position: relative;
  height: 4rem;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
}

@media screen and (min-width: 1024px) {
  nav {
    padding: 0;
    height: 6rem;
  }
}

.brand {
  font-size: 1.5rem;
  color: #040407;
}

@media screen and (min-width: 1024px) {
  .brand {
    font-size: 2rem;
  }
}

.menu__icon {
  position: absolute;
  z-index: 1;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 2rem;
  width: 3rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.menu__line {
  width: 1.5rem;
  height: 1px;
  background: #040407;
  margin: 2px 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.open .menu__line-1 {
  -webkit-transform: rotate(-45deg) translateY(4.5px);
          transform: rotate(-45deg) translateY(4.5px);
}

.open .menu__line-2 {
  -webkit-transform: rotate(45deg) translate(1px, -3.8px);
          transform: rotate(45deg) translate(1px, -3.8px);
}

.open .menu__items {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  border-bottom: solid 1px #cacaca;
}

.menu__items {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  padding: 4rem 2rem 2rem 2rem;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition: .3s border-bottom .3s ease, -webkit-transform .3s ease;
  transition: .3s border-bottom .3s ease, -webkit-transform .3s ease;
  transition: transform .3s ease, .3s border-bottom .3s ease;
  transition: transform .3s ease, .3s border-bottom .3s ease, -webkit-transform .3s ease;
}

@media screen and (min-width: 1024px) {
  .menu__items {
    padding: 5rem 2.5rem 2.5rem 2.5rem;
  }
}

.menu__link {
  font-size: 1.3rem;
  margin: 1rem 0;
  color: #a5a5a5;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.menu__link:hover {
  color: #040407;
}

@media screen and (min-width: 1024px) {
  .menu__link {
    font-size: 1.5rem;
  }
}

.home {
  height: 60vh;
}

@media screen and (min-width: 1024px) {
  .home {
    height: 75vh;
  }
}

@media screen and (min-width: 1360px) {
  .home {
    height: 100vh;
  }
}

.home__cta {
  position: absolute;
  z-index: 1;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.home__cta__title {
  font-family: "Massedi";
  text-transform: capitalize;
  font-size: 4.5rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .home__cta__title {
    font-size: 6rem;
    margin-bottom: 2.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .home__cta__title {
    font-size: 8rem;
    margin-bottom: 4rem;
  }
}

.home__imgs {
  position: absolute;
  top: 4rem;
  right: 2rem;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

@media screen and (min-width: 1024px) {
  .home__imgs {
    top: 50%;
    width: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.home__rings {
  height: auto;
  width: 100%;
}

.home__avatar {
  position: absolute;
  height: 50%;
  width: auto;
}

.about {
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  border-top: solid 1px #eee;
}

@media screen and (min-width: 1024px) {
  .about {
    height: 75vh;
    -ms-grid-columns: 2fr 4fr;
        grid-template-columns: 2fr 4fr;
    gap: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1360px) {
  .about {
    height: 100vh;
  }
}

.about__text {
  background: yellow;
  font-size: 1.25rem;
  line-height: 160%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

@media screen and (min-width: 1024px) {
  .about__text {
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .about__text {
    width: 50%;
  }
}

.about__triangles {
  position: absolute;
  right: 2rem;
  z-index: -1;
  top: -80%;
  height: 30rem;
  width: auto;
  display: none;
}

@media screen and (min-width: 1024px) {
  .about__triangles {
    top: -25%;
    height: 40rem;
    display: block;
  }
}

@media screen and (min-width: 1440px) {
  .about__triangles {
    top: -10%;
    height: 70rem;
    display: block;
  }
}

.about__plank {
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-transform: rotate(-25deg) translateX(-50%);
          transform: rotate(-25deg) translateX(-50%);
  height: 25rem;
  width: auto;
  -webkit-box-shadow: 0 1px 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1rem rgba(0, 0, 0, 0.2);
  display: none;
  z-index: -1;
}

@media screen and (min-width: 1024px) {
  .about__plank {
    display: block;
    left: 10%;
    top: -10%;
    -webkit-transform: rotate(-25deg) translateX(0);
            transform: rotate(-25deg) translateX(0);
  }
}

@media screen and (min-width: 1360px) {
  .about__plank {
    top: 60%;
  }
}

.skills__grid {
  margin-top: 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 1rem;
}

@media screen and (min-width: 375px) {
  .skills__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
  }
}

@media screen and (min-width: 768px) {
  .skills__grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .skills__grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

@media screen and (min-width: 1440px) {
  .skills__grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
  }
}

.projects__grid {
  margin-top: 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .projects__grid {
    gap: 2rem;
  }
}

.contact__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin-top: 4rem;
}

@media screen and (min-width: 768px) {
  .contact__grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.contact__cta__title {
  font-family: "Massedi";
  text-transform: capitalize;
  font-size: 1.8rem;
  color: #333;
}

.contact__details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 2rem;
  margin-top: 2.5rem;
}

@media screen and (min-width: 768px) {
  .contact__details {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin: 0;
  }
}

.contact__info {
  margin-bottom: 2rem;
}

.contact__type {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 1rem;
}

.contact__value {
  font-size: 1.5rem;
}
/*# sourceMappingURL=main.css.map */